@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mynerve&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scrollbar-color: #fff0e7 white;
  scrollbar-width: thin;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0;
}
