@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Mynerve&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff0e7;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0;
}
